@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d40;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 15px;
}

.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.navbar-menu a:hover {
  background-color: #00796b;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-menu {
      flex-direction: column;
      width: 100%;
      gap: 10px;
  }

  .navbar-menu a {
      width: 100%;
      text-align: center;
      cursor:progress;
  }
}


.container{
  display: flex;
  flex-wrap:wrap;  
  justify-content: center;
  /* align-items: center; */
  margin: 22px;
}

h1{
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 50px;
  font-style: normal;
  margin-top: 12px;

}

.multi-selector{
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */

}

.selectors{
  width: 90%;
  padding: 20px;
}